<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>
            weatherApp
        </title>
       
    </head>
    <body>
        <div class="main">
            {{>header}}
            <form>

                <input>
                <button>
                    search
                </button>
            </form>
            <p id="location"></p>
            <p id="weather"></p>
        </div>
        

        
        {{>footer}}
         <script src="/js/app.js"></script>
    </body>
</html>